Repository googleapis/python-bigquery-sqlalchemy, pull requests merged in 2021-05, with the labels that each got.

#138 feat: Comment/description support, bug fixes and better test coverage
  .coveragerc
  noxfile.py
  pybigquery/requirements.py
  pybigquery/sqlalchemy_bigquery.py
  setup.cfg
  setup.py
  testing/constraints-3.6.txt
  tests/sqlalchemy_dialect_compliance/README.rst
  tests/sqlalchemy_dialect_compliance/conftest.py
  tests/sqlalchemy_dialect_compliance/test_dialect_compliance.py
  tests/unit/conftest.py
  tests/unit/fauxdbi.py
  tests/unit/test_api.py
  tests/unit/test_catalog_functions.py
  tests/unit/test_comments.py
  tests/unit/test_compiler.py
  tests/unit/test_compliance.py
  tests/unit/test_engine.py
  tests/unit/test_like_reescape.py
  tests/unit/test_parse_url.py
  tests/unit/test_select.py
  tests/unit/test_view.py
Labels: api: bigquery, cla: yes

#166 chore: Make it practical to make simultaneous compliance test runs.
  noxfile.py
  pybigquery/requirements.py
  setup.cfg
  tests/sqlalchemy_dialect_compliance/README.rst
  tests/sqlalchemy_dialect_compliance/conftest.py
Labels: api: bigquery, cla: yes

#141 chore: add library type to .repo-metadata.json
  .repo-metadata.json
Labels: api: bigquery, automerge, cla: yes

#177 feat: Add support for SQLAlchemy 1.4
  noxfile.py
  pybigquery/_helpers.py
  pybigquery/parse_url.py
  pybigquery/requirements.py
  pybigquery/sqlalchemy_bigquery.py
  setup.py
  testing/constraints-3.6.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
  tests/conftest.py
  tests/sqlalchemy_dialect_compliance/conftest.py
  tests/sqlalchemy_dialect_compliance/test_dialect_compliance.py
  tests/unit/conftest.py
  tests/unit/fauxdbi.py
  tests/unit/test_compliance.py
  tests/unit/test_helpers.py
  tests/unit/test_parse_url.py
  tests/unit/test_select.py
  tests/unit/test_sqlalchemy_bigquery.py
Labels: api: bigquery, cla: yes

#180 feat: Support parameterized NUMERIC, BIGNUMERIC, STRING, and BYTES types
  pybigquery/_helpers.py
  pybigquery/sqlalchemy_bigquery.py
  setup.py
  testing/constraints-3.6.txt
  tests/sqlalchemy_dialect_compliance/test_dialect_compliance.py
  tests/system/test_sqlalchemy_bigquery.py
  tests/unit/fauxdbi.py
  tests/unit/test_catalog_functions.py
  tests/unit/test_helpers.py
  tests/unit/test_select.py
Labels: api: bigquery, cla: yes

#139 chore: template updates
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  noxfile.py
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: none

#183 feat: Alembic support
  docs/alembic.rst
  docs/index.rst
  noxfile.py
  pybigquery/sqlalchemy_bigquery.py
  tests/system/conftest.py
  tests/system/test_alembic.py
Labels: api: bigquery, cla: yes

#185 chore: pick up autosynth changes
  .coveragerc
  .pre-commit-config.yaml
  docs/multiprocessing.rst
  noxfile.py
  setup.cfg
  synth.metadata
  synth.py
Labels: api: bigquery, cla: yes, context: none

#186 chore: add protobuf to intersphinx mapping
  docs/conf.py
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: none
