Repository googleapis/python-bigquery-sqlalchemy, pull requests merged in 2022-11, with the labels that each got.

#499 fix: Sets cache support to false, removes upper req limit
  setup.py
  sqlalchemy_bigquery/base.py
Labels: api: bigquery, size: xs

#501 fix: updates test to account for UTC in failing test
  tests/sqlalchemy_dialect_compliance/test_dialect_compliance.py
Labels: api: bigquery, size: s

#513 fix: use packaging version parser instead of string splitting
  setup.py
  sqlalchemy_bigquery/base.py
Labels: automerge, api: bigquery, size: s

#534 chore: addressed lint issue with __version__
  sqlalchemy_bigquery/__init__.py
  tests/unit/test_version.py
Labels: automerge, api: bigquery, size: s
